---
- name: Build and Deploy Docker Image to Kubernetes
  hosts: localhost
  connection: local
  gather_facts: no
  vars_files:
    - vault.yml
  vars:
    image_name: my-country-service
    image_tag: v1
    dockerfile_path: '.'
    kubeconfig_path: './config' # Chemin vers votre fichier kubeconfig

  tasks:
    - name: Log in to Docker Hub
      community.general.docker_login:
        username: "{{ docker_registry_username }}"
        password: "{{ docker_registry_password }}"

    - name: Build Docker image
      community.general.docker_image:
        build:
          path: "{{ dockerfile_path }}"
        name: "{{ docker_registry_username }}/{{ image_name }}:{{ image_tag }}"
        source: build
        state: present

    - name: Push the Docker image to Docker Hub
      community.general.docker_image:
        name: "{{ docker_registry_username }}/{{ image_name }}:{{ image_tag }}"
        push: yes
        source: local

    - name: Apply Kubernetes Deployment
      kubernetes.core.k8s:
        state: present
        src: deployment.yaml
        kubeconfig: "{{ kubeconfig_path }}"

    - name: Apply Kubernetes Service
      kubernetes.core.k8s:
        state: present
        src: service.yaml
        kubeconfig: "{{ kubeconfig_path }}"
